@charset "utf-8";
/*CSS doc for the datatables
 * Author - Mark Campbell
*/
div.dataTables_length {
    float: left;
    font-size:100%;
}

div.dataTables_filter {
	float:right;
	padding-top: 5px;
}

div.dataTables_filter label input{
    font-size:100%;
    height:15px;
}
 
div.dataTables_info {
    float: left;
}
 
div.dataTables_paginate {
padding: 8px;
    float: left;
    }
 
/* Self clearing - */
div.dataTables_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .dataTables_wrapper { display: block; }
* html .dataTables_wrapper { height: 1%; }

table.pretty {
    width: 100%;
    clear: both;
    white-space: nowrap
}
 
table.pretty td,
table.pretty th {

}

/* Header cells */
table.pretty thead th {
    text-align: center;
}

/* Body cells */
table.pretty tbody th {
    text-align: left;
}
     
table.pretty tbody td {
width: 1px;
    white-space: nowrap;
    text-align: center;
}
         
table.pretty tbody tr.odd td {
}

/* Footer cells */ 
table.pretty tfoot th {
    text-align: left;
}
     
table.pretty tfoot td {
    text-align: center;
    font-weight: bold;
}
 
table.dataTable thead th.sorting {
}
a.paginate_button,
a.paginate_active {
    display: inline-block;
    padding: 2px 6px;
    margin-left: 2px;
    cursor: pointer;
    *cursor: hand;
}
 
a.paginate_active {
    background-color: #FFF;
    border: 1px solid black;
}
 
a.paginate_button_disabled {
    color: #3d6672;
}
.paging_full_numbers a:active {
    outline: none
}
.paging_full_numbers a:hover {
    text-decoration: none;
}
 
div.dataTables_paginate span>a {
    width: 15px;
    text-align: center;
}

.paginate_disabled_previous, .paginate_disabled_next {
	margin-right:10px;
	padding:5px;
	border-radius:5px;
	border:1px solid #5D5D5D;
	color:#000;
	text-decoration:none;
	cursor:default;
	background-color: #aaa;


}

.paginate_disabled_previous:hover , .paginate_disabled_next:hover {
	color:#fff;
}

.paginate_enabled_previous, .paginate_enabled_next {
	margin-right:10px;
	padding:10px;
	border-radius:5px;
	border:1px solid #5D5D5D;
	color:#000;
	text-decoration:none;
	cursor:default;
}

.paginate_enabled_previous:hover, .paginate_enabled_next:hover {
	color:#fff;
	background-image:-webkit-linear-gradient(top,#214300, #4EA649);
}
 
div.dataTables_info {
    padding: 9px 6px 6px 6px;
}

#adminJobList tbody tr.even:hover, #adminJobList tbody tr.even td.highlighted,
#jobUserList tbody tr.even:hover, #jobUserList tbody tr.even td.highlighted {
	background-color: #ECFFB3  !important;
}

#adminJobList tbody tr.odd:hover, #adminJobList tbody tr.odd td.highlighted
#jobUserList tbody tr.odd:hover, #jobUserList tbody tr.odd td.highlighted {
	background-color: #E6FF99  !important;
}

#adminJobList tr.even:hover
#jobUserList tr.even:hover {
	background-color: #ECFFB3  !important;
}

#adminJobList tr.even:hover td.sorting_1
#jobUserList tr.even:hover td.sorting_1 {
	background-color: #DDFF75  !important;
}

#adminJobList tr.even:hover td.sorting_2
#jobUserList tr.even:hover td.sorting_2 {
	background-color: #E7FF9E  !important;
}

#adminJobList tr.even:hover td.sorting_3
#jobUserList tr.even:hover td.sorting_3 {
	background-color: #E2FF89  !important;
}

#adminJobList tr.odd:hover
#jobUserList tr.odd:hover {
	background-color: #E6FF99  !important;
}

#adminJobList tr.odd:hover td.sorting_1
#jobUserList tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C  !important;
}

#adminJobList tr.odd:hover td.sorting_2 
#jobUserList tr.odd:hover td.sorting_2 {
	background-color: #E0FF84  !important;
}

#adminJobList tr.odd:hover td.sorting_3
#jobUserList tr.odd:hover td.sorting_3 {
	background-color: #DBFF70  !important;
}
